{
  "tabWidth": 2,
  "useTabs": true,
  "singleQuote": true,
  "semi": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "babel"
      }
    }
  ]
}
